@import "tailwindcss";

@plugin "tailwindcss-primeui";

@import "primeicons/primeicons.css";

/* Font */
@import "@fontsource/vazirmatn/400.css";
@import "@fontsource/vazirmatn/500.css";
@import "@fontsource/vazirmatn/700.css";

@custom-variant dark (&:where(.app-dark, .app-dark *));

html {
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
}

body {
  margin: 0;
}
