@import "tailwindcss";

@import "primeicons/primeicons.css";

@import "@fontsource/vazirmatn/400.css";
@import "@fontsource/vazirmatn/500.css";
@import "@fontsource/vazirmatn/700.css";

html {
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
}

body {
  margin: 0;
}
