@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/vazirmatn/400.css';
@import '@fontsource/vazirmatn/500.css';
@import '@fontsource/vazirmatn/700.css';

html {
  font-family: Vazirmatn, Inter, system-ui, sans-serif;
}

html[dir='rtl'] {
  direction: rtl;
}

html[dir='ltr'] {
  direction: ltr;
}

body {
  margin: 0;
  background: #f7fafc;
}
